# Windows
*.exe
*.obj
*.pdb
*.ilk
*.log
*.idb
*.app
*.lib
*.dll

# VSCode
.vscode/
*.code-workspace

# Visual Studio
*.sln
*.suo
*.user
*.VC.db
*.VC.VC.opendb

# Build folders
build/
x64/
*.recipe

# Temporary files
*.tmp
*.bak
*.swp
